<!DOCTYPE html>

<html>

<head>
    <title>404 error</title>
    
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
    <div class="main-content">
        {{>header}}
        <p><h1>{{errorMessage}}<h1></p>
    </div>

    {{>footer}}
</body>

</html>
