<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
        


        <div>
            {{>header}}
            <p>About</p>

            <p>this app uses machine learning to identify documents and reads their text</p>
        </div>
    

    {{>footer}}
    
</body>

</html>
